<!DOCTYPE html>
<html lang="it">
  <head>
    <%= partial "/partials/head" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "skel.min" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "jquery.scrollex.min" %>
    <%= javascript_include_tag :util %>
    <%= javascript_include_tag :main %>
    <%= javascript_include_tag :application %>
  </body>
</html>
